<h1><%= "Editing Client:  #{@client.name}" %></h1>

<%= render 'form' %>

<div class="nav">
<p>
	<b>VIEWS:</b>
	<%= link_to 'Client Details', @client %> |
	<%= link_to 'Client List', clients_path %>
</p>
</div>
