<h1>Editing contact</h1>

<%= render 'form' %>

<div class="nav">
<p>
	<b>VIEWS:</b>
	<%= link_to 'Contact Detail', [@client, @contact] %> |
	<%= link_to 'Contact List', client_contacts_path %>
</p>
</div>
